@charset "utf-8";
/* CSS Document */

.contactusList tr {
	padding-top:5px !important;
	padding-bottom:5px !important;
	vertical-align:top
}

.contactusList tr td {
	padding-top:10px;
}

#cireset, #cinsert, .cedit, .csave, .ccancel, .cremove {
	cursor:pointer;
}

#cinsertform div {
	margin-bottom:8px;	
}

#cinsertform {
	max-width:250px;
	float:left;
	margin-right:20px;
}

#cprojectsform {
	margin-top:18px;
	float:left;
}
